Repository BGLuis/gatuno: changes, and which lefthook commands are due for each by the changed paths.
All: lint-back, lint-front, format-check, type-check-back, type-check-front

lint-back:
  run: cd back && npm run lint
  stage_fixed: true

lint-front:
  run: cd front && npm run lint
  stage_fixed: true

format-check:
  run: npx biome check --write {staged_files}
  stage_fixed: true

type-check-back:
  run: cd back && npx tsc --noEmit

type-check-front:
  run: cd front && npx tsc --noEmit

feat: add new admin controllers and refactor book update service
  back/src/books/admin-books-dashboard.controller.ts
  back/src/books/admin-books-upload.controller.ts
  back/src/books/admin-books.controller.ts
  back/src/books/books.module.ts
  back/src/books/books.service.ts
  back/src/books/constants/events.constant.ts
  back/src/books/gateway/books.gateway.ts
  back/src/books/services/book-query.service.ts
  back/src/books/services/book-update.service.ts
Due: lint-back, format-check, type-check-back

feat: refactor event constants to use BookEvents and ReadingEvents in services and gateways
  back/src/books/constants/events.constant.ts
  back/src/books/download/download-cache.service.ts
  back/src/books/events/book.scraping.events.ts
  back/src/books/events/file-deletion.events.ts
  back/src/books/services/book-creation.service.ts
  back/src/users/constants/events.constant.ts
  back/src/users/gateway/reading-progress.gateway.ts
Due: lint-back, format-check, type-check-back

feat: add constants and event templates for books, chapters, and scraping
  front/src/app/constants/book-events.constants.ts
  front/src/app/models/book-events.model.ts
  front/src/app/pages/dashboard/monitoring/monitoring.component.ts
  front/src/app/service/book-websocket.service.spec.ts
  front/src/app/service/book-websocket.service.ts
Due: lint-front, format-check, type-check-front

feat: refactor chapter controls and improve navigation handling
  front/src/app/pages/chapters/chapters.component.html
  front/src/app/pages/chapters/chapters.component.scss
  front/src/app/pages/chapters/chapters.component.ts
Due: lint-front, format-check, type-check-front

feat: refactor header and outlet components for consistent change detection strategy
  front/src/app/components/header/header.component.html
  front/src/app/components/header/header.component.ts
  front/src/app/pages/outlet/defalt-outlet/defalt-outlet.component.ts
Due: lint-front, format-check, type-check-front

feat: refactor IconsComponent for improved icon loading and change detection
  front/src/app/components/header/header.component.spec.ts
  front/src/app/components/icons/icons.component.html
  front/src/app/components/icons/icons.component.ts
  front/src/app/service/icon-registry.service.ts
Due: lint-front, format-check, type-check-front

feat: add support for various content types (image, text, document) and their respective download strategies
  back/migrations/add-multi-format-content.sql
  back/src/books/chapters/chapter.service.ts
  back/src/books/download/download.module.ts
  back/src/books/download/strategies/document-download.strategy.ts
  back/src/books/download/strategies/markdown-download.strategy.ts
  back/src/books/dto/upload-document.dto.ts
  back/src/books/dto/upload-text-content.dto.ts
  back/src/books/entitys/book.entity.ts
  back/src/books/entitys/chapter.entity.ts
  back/src/books/enum/content-format.enum.ts
  back/src/books/enum/content-type.enum.ts
  back/src/books/enum/document-format.enum.ts
  back/src/books/enum/export-format.enum.ts
  back/src/books/jobs/chapter-scraping.service.ts
  back/src/books/services/book-upload.service.ts
Due: lint-back, format-check, type-check-back

feat(readers): add image, document, and text readers with progress tracking
  front/package-lock.json
  front/package.json
  front/src/app/app.config.ts
  front/src/app/components/info-book/info-book.component.html
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
  front/src/app/components/readers/document-reader/document-reader.component.html
  front/src/app/components/readers/document-reader/document-reader.component.scss
  front/src/app/components/readers/document-reader/document-reader.component.spec.ts
  front/src/app/components/readers/document-reader/document-reader.component.ts
  front/src/app/components/readers/image-reader/image-reader.component.html
  front/src/app/components/readers/image-reader/image-reader.component.scss
  front/src/app/components/readers/image-reader/image-reader.component.spec.ts
  front/src/app/components/readers/image-reader/image-reader.component.ts
  front/src/app/components/readers/index.ts
  front/src/app/components/readers/text-reader/text-reader.component.html
  front/src/app/components/readers/text-reader/text-reader.component.scss
  front/src/app/components/readers/text-reader/text-reader.component.spec.ts
  front/src/app/components/readers/text-reader/text-reader.component.ts
  front/src/app/models/book.models.ts
  front/src/app/models/offline.models.ts
  front/src/app/pages/chapters/chapters.component.html
  front/src/app/pages/chapters/chapters.component.scss
  front/src/app/pages/chapters/chapters.component.ts
  front/src/app/service/download.service.ts
Due: lint-front, format-check, type-check-front

fix
  back/src/books/admin-books-upload.controller.ts
Due: lint-back, format-check, type-check-back

feat(scraping): implement ScrapingSessionRunner for improved scraping management and refactor scraping service methods
  back/src/books/services/chapter-management.service.ts
  back/src/scraping/runner/scraping-context.interface.ts
  back/src/scraping/runner/scraping-session.runner.ts
  back/src/scraping/scraping.service.ts
Due: lint-back, format-check, type-check-back

feat(info-book): improve scraping status display and styling
  front/src/app/components/info-book/info-book.component.html
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
Due: lint-front, format-check, type-check-front

feat(book): add NgZone and ChangeDetectorRef for improved background size updates and DOM mutation handling
  front/src/app/components/info-book/info-book.component.ts
  front/src/app/pages/book/book.component.ts
Due: lint-front, format-check, type-check-front

feat(info-book): add min-height to container for better layout and update height handling logic
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
  front/src/app/pages/book/book.component.scss
Due: lint-front, format-check, type-check-front

feat(document-reader): enhance PDF viewer with loading and error handling, dynamic page rendering, and improved layout
  front/src/app/components/readers/document-reader/document-reader.component.html
  front/src/app/components/readers/document-reader/document-reader.component.scss
  front/src/app/components/readers/document-reader/document-reader.component.ts
  front/src/app/components/readers/document-reader/pdf-page/pdf-page.component.ts
Due: lint-front, format-check, type-check-front

feat(upload): reorganize document type constants and update references
  back/src/books/chapters/chapter.service.ts
  back/src/books/constants/content-types.constants.ts
  back/src/books/dto/upload-document.dto.ts
  back/src/books/services/book-upload.service.ts
Due: lint-back, format-check, type-check-back

feat: enhance token management and synchronization across tabs with CrossTabSyncService
  back/eslint.config.mjs
  back/test/app.e2e-spec.ts
  front/src/app/guards/auth.guard.ts
  front/src/app/interceptor/http-client-request.interceptor.ts
  front/src/app/interceptor/http-client-response.interceptor.ts
  front/src/app/service/auth-queue.service.ts
  front/src/app/service/cross-tab-sync.service.spec.ts
  front/src/app/service/cross-tab-sync.service.ts
  front/src/app/service/user-token.service.spec.ts
  front/src/app/service/user-token.service.ts
Due: lint-front, format-check, type-check-front

feat(routes): refactor route configuration to improve SSR and cache management
  front/src/app/app.routes.ts
  front/src/app/guards/auth.guard.spec.ts
  front/src/app/pages/auth/auth.routes.ts
Due: lint-front, format-check, type-check-front

feat(network): implement NetworkStatusService for improved network state management and offline handling
  front/src/app/guards/network.guard.ts
  front/src/app/pages/books/books.component.ts
  front/src/app/pages/chapters/chapters.component.ts
  front/src/app/pages/user/outlet/outlet.component.html
  front/src/app/pages/user/outlet/outlet.component.scss
  front/src/app/pages/user/outlet/outlet.component.ts
  front/src/app/service/book-websocket.service.ts
  front/src/app/service/network-status.service.ts
  front/src/app/service/reading-progress-sync.service.ts
Due: lint-front, format-check, type-check-front

feat(sync): implement bulk progress synchronization and improve page index safety
  back/src/users/dto/reading-progress.dto.ts
  back/src/users/reading-progress.service.ts
  front/src/app/components/readers/text-reader/text-reader.component.ts
  front/src/app/pages/user/outlet/outlet.component.html
  front/src/app/service/reading-progress-sync.service.ts
  front/src/app/service/unified-reading-progress.service.ts
Due: lint-back, lint-front, format-check, type-check-back, type-check-front

feat: refactor list-switch and switch components for improved input handling and loading state
  front/src/app/components/inputs/list-switch/list-switch.component.html
  front/src/app/components/inputs/list-switch/list-switch.component.ts
  front/src/app/components/inputs/switch/switch.component.html
  front/src/app/components/inputs/switch/switch.component.ts
  front/src/app/pages/user/filter/filter.component.html
  front/src/app/pages/user/filter/filter.component.scss
  front/src/app/pages/user/filter/filter.component.ts
  front/src/app/pages/user/outlet/outlet.component.scss
Due: lint-front, format-check, type-check-front

feat: add BookContentUpdateService for managing book content updates and refactor related services
  back/src/books/books.module.ts
  back/src/books/jobs/book-update.processor.ts
  back/src/books/jobs/cover-image.service.ts
  back/src/books/services/book-content-update.service.ts
  back/src/scraping/browser/playwright-browser.factory.ts
Due: lint-back, format-check, type-check-back

feat: add maxSessionsPerUser configuration and improve token management in TokenStoreService
  back/package-lock.json
  back/package.json
  back/src/app-config/app-config.schema.ts
  back/src/app-config/app-config.service.ts
  back/src/auth/auth.service.ts
  back/src/auth/services/token-store.service.spec.ts
  back/src/auth/services/token-store.service.ts
Due: lint-back, format-check, type-check-back

feat: update version numbers in package.json for back and front services
  back/package.json
  front/package.json
Due: format-check

feat: implement refresh token management and improve cookie handling in auth controller and services
  back/src/auth/auth.controller.ts
  front/src/app/interceptor/http-client-request.interceptor.ts
  front/src/app/service/auth.service.ts
  front/src/app/utils/api-url.utils.ts
  front/src/environments/environment.development.ts
  front/src/environments/environment.prod.ts
  front/src/environments/environment.ts
Due: lint-back, lint-front, format-check, type-check-back, type-check-front

fix: update API_URL, APP_URL, and ALLOWED_URL to use HTTPS in docker-compose
  docker-compose.common.yml
Due: none

fix: corrigir formato da URL da API em environment.prod.ts
  front/src/environments/environment.prod.ts
Due: lint-front, format-check, type-check-front

fix: update API URLs to use HTTPS in environment files
  front/src/app/service/reading-progress-sync.service.ts
  front/src/environments/environment.development.ts
  front/src/environments/environment.prod.ts
  front/src/environments/environment.ts
Due: lint-front, format-check, type-check-front

fix: correct API URLs to use HTTP in environment files
  front/src/environments/environment.development.ts
  front/src/environments/environment.ts
Due: lint-front, format-check, type-check-front

feat: add backup and restore scripts for api-data volume
  .commitlintrc.json
  .gitignore
  .lintignore
  docker-compose.dev.yml
  init-slave.sh
  lefthook.yml
  package-lock.json
  package.json
  scripts/backup-api-data.sh
  scripts/restore-api-data.sh
Due: none

chore: update package.json with linting and formatting scripts
  .secretlintignore
  .secretlintrc.json
  biome.json
  cspell.json
  lefthook.yml
  package-lock.json
  package.json
Due: none

refactor: update access modifiers for consistency and improve test setup in auth and scraping services
  back/src/auth/auth.controller.spec.ts
  back/src/auth/auth.service.spec.ts
  back/src/auth/auth.service.ts
  back/src/books/books.service.ts
  back/src/files/files.service.spec.ts
  back/src/scraping/helpers/network-interceptor.ts
  back/src/scraping/scraping.service.ts
Due: lint-back, format-check, type-check-back

refactor: unify notification handling with signals and remove legacy services
  front/src/app/app.routes.ts
  front/src/app/components/notification/custom-components/cover-edit-modal/cover-edit-modal.component.scss
  front/src/app/components/notification/custom-components/progress-notification/progress-notification.component.html
  front/src/app/components/notification/custom-components/progress-notification/progress-notification.component.ts
  front/src/app/components/notification/overlay-notification/overlay-notification.component.html
  front/src/app/components/notification/overlay-notification/overlay-notification.component.scss
  front/src/app/components/notification/overlay-notification/overlay-notification.component.ts
  front/src/app/models/notification.models.ts
  front/src/app/service/body-scroll.service.ts
  front/src/app/service/dashboard.service.ts
  front/src/app/service/modal-notification.service.ts
  front/src/app/service/notification.service.ts
  front/src/app/service/notification/base-notification.strategy.ts
  front/src/app/service/notification/index.ts
  front/src/app/service/notification/modal-notification.strategy.ts
  front/src/app/service/notification/notification-strategy.interface.ts
  front/src/app/service/notification/notification.factory.ts
  front/src/app/service/notification/overlay-notification.strategy.ts
  front/src/app/service/notification/toast-notification.strategy.ts
  front/src/app/service/toast-notification.service.ts
Due: lint-front, format-check, type-check-front

refactor: improve styling variables and enhance dashboard component functionality
  back/src/dashboard/dashboard.controller.ts
  front/public/assets/scss/_color-definitions.scss
  front/public/assets/scss/_color.scss
  front/src/app/components/book-filter/book-filter.component.scss
  front/src/app/components/inputs/button/button.component.scss
  front/src/app/components/readers/document-reader/document-reader.component.scss
  front/src/app/components/readers/image-reader/image-reader.component.scss
  front/src/app/components/readers/text-reader/text-reader.component.scss
  front/src/app/interceptor/http-client-response.interceptor.ts
  front/src/app/pages/dashboard/home/home.component.html
  front/src/app/pages/dashboard/home/home.component.ts
  front/src/app/pages/dashboard/tags/tags.component.ts
Due: lint-back, lint-front, format-check, type-check-back, type-check-front

refactor(front): fix linting issues in chapters component
  front/src/app/components/header/header.component.scss
  front/src/app/components/notification/overlay-notification/overlay-notification.component.scss
  front/src/app/pages/book/book.component.html
  front/src/app/pages/book/book.component.ts
  front/src/app/pages/chapters/chapters.component.html
  front/src/app/pages/chapters/chapters.component.ts
  front/src/app/pages/outlet/default-outlet/default-outlet.component.html
  front/src/app/pages/outlet/default-outlet/default-outlet.component.ts
  front/src/app/service/header-state.service.ts
Due: lint-front, format-check, type-check-front

refactor(front): reorganize and easily clean any component of the chapters
  front/src/app/pages/chapters/chapters.component.ts
Due: lint-front, format-check, type-check-front

refactor(front): add manual "safe" category to sensitive content options and improve toggle logic for advanced filters
  front/src/app/components/book-filter/book-filter.component.ts
Due: lint-front, format-check, type-check-front

test(notification): update ProgressNotificationComponent tests to use setInput for property binding
  front/src/app/components/notification/custom-components/progress-notification/progress-notification.component.spec.ts
Due: lint-front, format-check, type-check-front

Path conditions:
  lint-back: any of: back/src/**/*.ts
  lint-front: any of: front/src/**/*.ts
  format-check: any of: **/*.{ts,js,json,html,scss,css}
  type-check-back: any of: back/src/**/*.ts
  type-check-front: any of: front/src/**/*.ts
