Repository BGLuis/gatuno: changes, and which lefthook commands are due for each by the changed paths.
All: lint-back, lint-front, format-check, type-check-back, type-check-front

lefthook.yml:

# Lefthook - Git Hooks Manager
# https://github.com/evilmartians/lefthook

pre-commit:
    parallel: true
    commands:
        lint-back:
            glob: 'back/src/**/*.ts'
            run: cd back && npm run lint
            stage_fixed: true

        lint-front:
            glob: 'front/src/**/*.ts'
            run: cd front && npm run lint
            stage_fixed: true

        format-check:
            glob: '**/*.{ts,js,json,html,scss,css}'
            run: npx biome check --write {staged_files}
            stage_fixed: true

        duplicated-code:
            run: npx jscpd --config .jscpd.json

        type-check-back:
            glob: 'back/src/**/*.ts'
            run: cd back && npx tsc --noEmit

        type-check-front:
            glob: 'front/src/**/*.ts'
            run: cd front && npx tsc --noEmit

pre-push:
    parallel: false
    commands:
        test-back:
            run: cd back && npm run test -- --passWithNoTests

        test-front:
            run: cd front && npm run test:headless

commit-msg:
    commands:
        commitlint:
            run: npx commitlint --edit {1}

fix: Correct the minimum body height to 100dvh.
  front/public/assets/scss/global.scss
Due: format-check

fix: Add cursor pointer to the span style in the info-book component.
  front/src/app/components/info-book/info-book.component.scss
Due: format-check

fix: Refactor button component styles and update button properties for better customization
  front/src/app/components/inputs/button/button.component.html
  front/src/app/components/inputs/button/button.component.scss
  front/src/app/components/inputs/button/button.component.ts
  front/src/app/pages/book/book.component.html
  front/src/app/pages/book/book.component.scss
Due: lint-front, format-check, type-check-front

feat: Implement book filter component with search and filter functionalities
  front/src/app/components/book-filter/book-filter.component.html
  front/src/app/components/book-filter/book-filter.component.scss
  front/src/app/components/book-filter/book-filter.component.spec.ts
  front/src/app/components/book-filter/book-filter.component.ts
  front/src/app/pages/books/books.component.html
  front/src/app/pages/books/books.component.scss
  front/src/app/pages/books/books.component.ts
Due: lint-front, format-check, type-check-front

feat: add refresh icons and implement auto-update functionality for books
  front/public/assets/icons/refresh-ccw-dot.svg
  front/public/assets/icons/refresh-cw-off.svg
  front/src/app/components/inputs/button/button.component.html
  front/src/app/components/inputs/button/button.component.scss
  front/src/app/components/inputs/button/button.component.ts
  front/src/app/models/book.models.ts
  front/src/app/pages/book/book.component.html
  front/src/app/pages/book/book.component.scss
  front/src/app/pages/book/book.component.ts
  front/src/app/pages/dashboard/dashboard.routes.ts
  front/src/app/pages/dashboard/monitoring/monitoring.component.html
  front/src/app/pages/dashboard/monitoring/monitoring.component.scss
  front/src/app/pages/dashboard/monitoring/monitoring.component.ts
  front/src/app/service/book-websocket.service.ts
  front/src/app/service/book.service.ts
Due: lint-front, format-check, type-check-front

feat: add an autoUpdate field to the books table and implement automatic update functionality.
  back/migrations/add-auto-update-field.sql
  back/src/books/admin-books.controller.ts
  back/src/books/books.service.ts
  back/src/books/builders/book.builder.ts
  back/src/books/dto/toggle-auto-update.dto.ts
  back/src/books/entitys/book.entity.ts
  back/src/books/gateway/books.gateway.ts
  back/src/books/jobs/book-update.processor.ts
  back/src/books/jobs/book-update.scheduler.ts
  back/src/books/services/book-query.service.ts
Due: lint-back, format-check, type-check-back

fix: remove unused IconsComponent import from book filter component
  front/src/app/components/book-filter/book-filter.component.ts
Due: lint-front, format-check, type-check-front

fix: add mock for BullQueue book update queue in BooksService tests
  back/src/books/books.service.spec.ts
Due: lint-back, format-check, type-check-back

feat: add new SVG icons and update color variables in SCSS files for improved theming
  front/public/assets/icons/alert-circle.svg
  front/public/assets/icons/plus.svg
  front/public/assets/scss/_color.scss
  front/public/assets/scss/_dropdown-menu.scss
  front/public/assets/scss/global.scss
  front/src/app/components/aside/aside.component.scss
  front/src/app/components/book-filter/book-filter.component.scss
  front/src/app/components/inputs/button/button.component.scss
  front/src/app/components/inputs/list-checkbox/list-checkbox.component.scss
  front/src/app/components/inputs/select/select.component.scss
  front/src/app/components/inputs/switch/switch.component.scss
  front/src/app/components/notification/custom-components/book-download-modal/book-download-modal.component.scss
  front/src/app/components/notification/custom-components/confirmation-notification/confirmation-notification.component.scss
  front/src/app/components/notification/custom-components/progress-notification/progress-notification.component.scss
  front/src/app/components/notification/custom-components/reader-settings-notification/reader-settings-notification.component.scss
  front/src/app/components/notification/custom-components/success-details-notification/success-details-notification.component.scss
  front/src/app/components/notification/overlay-notification/overlay-notification.component.scss
  front/src/app/pages/chapters/chapters.component.scss
  front/src/app/pages/dashboard/home/home.component.scss
  front/src/app/pages/dashboard/monitoring/monitoring.component.scss
Due: format-check

feat: Add source management functionality with modal for adding sources
  front/src/app/components/cover-edit-modal/cover-edit-modal.component.html
  front/src/app/components/cover-edit-modal/cover-edit-modal.component.scss
  front/src/app/components/cover-edit-modal/cover-edit-modal.component.ts
  front/src/app/components/image-viewer/image-viewer.component.scss
  front/src/app/components/info-book/info-book.component.html
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
  front/src/app/components/source-add-modal/source-add-modal.component.html
  front/src/app/components/source-add-modal/source-add-modal.component.scss
  front/src/app/components/source-add-modal/source-add-modal.component.spec.ts
  front/src/app/components/source-add-modal/source-add-modal.component.ts
  front/src/app/models/book.models.ts
  front/src/app/pages/book/book.component.html
  front/src/app/pages/book/book.component.scss
  front/src/app/service/book.service.ts
Due: lint-front, format-check, type-check-front

fix: Adjust the formatting and structure of the font addition modal.
  front/src/app/components/source-add-modal/source-add-modal.component.html
  front/src/app/components/source-add-modal/source-add-modal.component.scss
  front/src/app/components/source-add-modal/source-add-modal.component.spec.ts
  front/src/app/components/source-add-modal/source-add-modal.component.ts
Due: lint-front, format-check, type-check-front

fix: Correct formatting and spacing in font management.
  front/src/app/components/info-book/info-book.component.ts
Due: lint-front, format-check, type-check-front

fix: Update allowedCommonJsDependencies and adjust budget limits in angular.json
  front/angular.json
Due: format-check

fix: remove old icons and add new maskable icons in the manifest
  front/public/icons/icon-128x128.png
  front/public/icons/icon-144x144.png
  front/public/icons/icon-152x152.png
  front/public/icons/icon-192x192.png
  front/public/icons/icon-384x384.png
  front/public/icons/icon-512x512.png
  front/public/icons/icon-72x72.png
  front/public/icons/icon-96x96.png
  front/public/icons/maskable_icon.png
  front/public/icons/maskable_icon_x128.png
  front/public/icons/maskable_icon_x192.png
  front/public/icons/maskable_icon_x384.png
  front/public/icons/maskable_icon_x48.png
  front/public/icons/maskable_icon_x512.png
  front/public/icons/maskable_icon_x72.png
  front/public/icons/maskable_icon_x96.png
  front/public/manifest.webmanifest
Due: none

fix: correct the chunk type to Uint8Array in the book download method
  front/src/app/service/book.service.ts
Due: lint-front, format-check, type-check-front

feat: add cover ordering functionality and DTO
  back/src/books/admin-books.controller.ts
  back/src/books/books.service.ts
  back/src/books/dto/order-covers.dto.ts
  back/src/books/entitys/cover.entity.ts
  back/src/books/services/book-query.service.ts
  back/src/books/services/book-update.service.ts
  back/src/books/services/book-upload.service.ts
Due: lint-back, format-check, type-check-back

fix: adjust the logic for selecting and indexing covers when saving
  back/src/books/jobs/book-update.processor.ts
  back/src/books/jobs/cover-image.processor.ts
Due: lint-back, format-check, type-check-back

fix: add index column to covers table and update selection logic
  back/migrations/add-cover-index.sql
Due: none

fix: update cover ordering endpoint and adjust related logic
  back/src/books/admin-books.controller.ts
Due: lint-back, format-check, type-check-back

chore: add Angular CDK dependency
  front/package-lock.json
  front/package.json
Due: format-check

fix: implement cover reordering functionality with save and cancel options
  front/src/app/components/info-book/info-book.component.html
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
  front/src/app/service/book.service.ts
Due: lint-front, format-check, type-check-front

fix: remove phpMyAdmin and Redis Commander services from docker-compose files
  docker-compose.common.yml
  docker-compose.dev.yml
  docker-compose.tools.yml
Due: none

fix: update Redis host in docker-compose configuration
  docker-compose.common.yml
Due: none

Revert "fix: update Redis host in docker-compose configuration"
  docker-compose.common.yml
Due: none

feat: add new SVG icons for dices, filter, and shuffle
  front/public/assets/icons/dices.svg
  front/public/assets/icons/filter.svg
  front/public/assets/icons/shuffle.svg
Due: none

refactor: remove unused getTags method and update getAllTags endpoint
  front/src/app/service/book.service.ts
  front/src/app/service/tags.service.ts
Due: lint-front, format-check, type-check-front

feat: add randomBook method to fetch a random book with sensitive content handling
  front/src/app/service/book.service.ts
Due: lint-front, format-check, type-check-front

feat: add support for number input type in TextInputComponent selector
  front/src/app/components/inputs/select/select.component.scss
  front/src/app/components/inputs/text-input/text-input.component.ts
Due: lint-front, format-check, type-check-front

feat: Implement an author service with a method to retrieve all authors
  front/src/app/service/authors.service.ts
Due: lint-front, format-check, type-check-front

feat: add 'none' option to ButtonFill type for improved flexibility
  front/src/app/components/inputs/button/button.component.ts
Due: lint-front, format-check, type-check-front

feat: add random filter modal component and integrate into notification system
  front/src/app/components/notification/custom-components/index.ts
  front/src/app/components/notification/custom-components/random-filter-modal/random-filter-modal.component.html
  front/src/app/components/notification/custom-components/random-filter-modal/random-filter-modal.component.scss
  front/src/app/components/notification/custom-components/random-filter-modal/random-filter-modal.component.ts
  front/src/app/components/notification/overlay-notification/overlay-notification.component.html
Due: lint-front, format-check, type-check-front

feat: add showLabel input to TextInputComponent for conditional label rendering
  front/src/app/components/inputs/text-input/text-input.component.html
  front/src/app/components/inputs/text-input/text-input.component.ts
Due: lint-front, format-check, type-check-front

feat: expand book filter component with advanced filtering options and random filter functionality
  front/src/app/components/book-filter/book-filter.component.html
  front/src/app/components/book-filter/book-filter.component.scss
  front/src/app/components/book-filter/book-filter.component.ts
Due: lint-front, format-check, type-check-front

feat: add random book navigation and enhance filter options in BooksComponent
  front/src/app/app.config.ts
  front/src/app/models/book.models.ts
  front/src/app/pages/books/books.component.scss
  front/src/app/pages/books/books.component.ts
Due: lint-front, format-check, type-check-front

feat: add @angular/animations dependency to package.json and package-lock.json
  front/package-lock.json
  front/package.json
Due: format-check

feat: add animations for advanced filters expansion in BookFilterComponent
  front/src/app/components/book-filter/book-filter.component.html
  front/src/app/components/book-filter/book-filter.component.scss
  front/src/app/components/book-filter/book-filter.component.ts
Due: lint-front, format-check, type-check-front

feat: implement offline fallback for book and tag retrieval in services
  front/src/app/service/book.service.spec.ts
  front/src/app/service/book.service.ts
  front/src/app/service/tags.service.spec.ts
  front/src/app/service/tags.service.ts
Due: lint-front, format-check, type-check-front

feat: enhance BookFilterComponent tests with additional service spies and providers
  front/src/app/components/book-filter/book-filter.component.spec.ts
Due: lint-front, format-check, type-check-front

feat: implement TokenStoreService for managing user tokens in cache
  back/src/auth/auth.module.ts
  back/src/auth/auth.service.spec.ts
  back/src/auth/auth.service.ts
  back/src/auth/services/token-store.service.spec.ts
  back/src/auth/services/token-store.service.ts
Due: lint-back, format-check, type-check-back

feat: refactor HTTP interceptors to utilize AuthQueueService and implement buildApiUrl utility
  front/src/app/interceptor/http-client-request.interceptor.ts
  front/src/app/interceptor/http-client-response.interceptor.ts
  front/src/app/service/auth-queue.service.ts
  front/src/app/utils/api-url.utils.ts
Due: lint-front, format-check, type-check-front
