Repository BGLuis/gatuno: changes, and which lefthook commands are due for each by the changed paths.
All: lint-back, lint-front, format-check, type-check-back, type-check-front

lefthook.yml:

# Lefthook - Git Hooks Manager
# https://github.com/evilmartians/lefthook

pre-commit:
    parallel: true
    commands:
        lint-back:
            glob: 'back/src/**/*.ts'
            run: cd back && npm run lint
            stage_fixed: true

        lint-front:
            glob: 'front/src/**/*.ts'
            run: cd front && npm run lint
            stage_fixed: true

        format-check:
            glob: '**/*.{ts,js,json,html,scss,css}'
            run: npx biome check --write {staged_files}
            stage_fixed: true

        duplicated-code:
            run: npx jscpd --config .jscpd.json

        type-check-back:
            glob: 'back/src/**/*.ts'
            run: cd back && npx tsc --noEmit

        type-check-front:
            glob: 'front/src/**/*.ts'
            run: cd front && npx tsc --noEmit

pre-push:
    parallel: false
    commands:
        test-back:
            run: cd back && npm run test -- --passWithNoTests

        test-front:
            run: cd front && npm run test:headless

commit-msg:
    commands:
        commitlint:
            run: npx commitlint --edit {1}

feat: Update your Docker configuration and remove unnecessary dependencies.
  back/.dockerignore
  back/Dockerfile.prod
  docker-compose.common.yml
  docker-compose.prod.yml
  front/Dockerfile.dev
Due: none

feat: Added production settings and API URL updates.
  front/angular.json
  front/src/environments/environment.prod.ts
Due: lint-front, format-check, type-check-front

env
  front/src/environments/environment.prod.ts
Due: lint-front, format-check, type-check-front

fix: playwright-debug
  back/src/scraping/browser/playwright-browser.factory.ts
  docker-compose.dev.yml
Due: lint-back, format-check, type-check-back

feat: Added support for cookie injection and local/session storage without scraping service.
  back/src/scraping/dto/register-website.dto.ts
  back/src/scraping/dto/update-website.dto.ts
  back/src/scraping/dto/website-config.dto.ts
  back/src/scraping/entitys/website.entity.ts
  back/src/scraping/helpers/index.ts
  back/src/scraping/helpers/storage-injector.ts
  back/src/scraping/scraping.service.ts
Due: lint-back, format-check, type-check-back

feat: Adds storage configuration columns to the websites table.
  back/migrations/add-storage-config.sql
Due: none

feat: Implements CRUD operations for website configurations.
  back/src/scraping/website.controller.ts
  back/src/scraping/website.service.ts
Due: lint-back, format-check, type-check-back

Update back/src/scraping/browser/playwright-browser.factory.ts
  back/src/scraping/browser/playwright-browser.factory.ts
Due: lint-back, format-check, type-check-back

Update back/src/scraping/scraping.service.ts
  back/src/scraping/scraping.service.ts
Due: lint-back, format-check, type-check-back

Update back/src/scraping/entitys/website.entity.ts
  back/src/scraping/entitys/website.entity.ts
Due: lint-back, format-check, type-check-back

Update back/src/scraping/dto/register-website.dto.ts
  back/src/scraping/dto/register-website.dto.ts
Due: lint-back, format-check, type-check-back

test: scraping
  back/src/scraping/scraping.service.spec.ts
Due: lint-back, format-check, type-check-back

feat: add Redis integration and update configuration
  back/package.json
  back/src/app.module.ts
  back/src/books/entitys/cover.entity.ts
  back/src/database/database.module.ts
  back/src/database/redis-cache.config.ts
  back/src/redis/index.ts
  back/src/redis/redis.constants.ts
  back/src/redis/redis.module.ts
  back/src/redis/redis.service.ts
  back/src/scraping/scraping.module.ts
  back/src/scraping/scraping.service.ts
  docker-compose.common.yml
Due: lint-back, format-check, type-check-back

Refactor scraping service and website controller for improved readability and maintainability
  back/migrations/add-adaptive-timeouts.sql
  back/src/files/adapters/no-compression.adapter.ts
  back/src/files/adapters/sharp.adapter.spec.ts
  back/src/files/adapters/sharp.adapter.ts
  back/src/files/factories/file-compressor.factory.spec.ts
  back/src/files/factories/file-compressor.factory.ts
  back/src/files/file-cleanup.controller.ts
  back/src/files/file-cleanup.cron.ts
  back/src/files/file-cleanup.service.ts
  back/src/files/files.service.spec.ts
  back/src/files/files.service.ts
  back/src/files/interfaces/file-compressor.interface.ts
  back/src/files/interfaces/image-compressor.interface.ts
  back/src/scraping/browser/browser-config.interface.ts
  back/src/scraping/browser/browser.factory.interface.ts
  back/src/scraping/browser/index.ts
  back/src/scraping/browser/playwright-browser.factory.ts
  back/src/scraping/concurrency/concurrency-manager.interface.ts
  back/src/scraping/concurrency/in-memory-concurrency-manager.spec.ts
  back/src/scraping/concurrency/in-memory-concurrency-manager.ts
  back/src/scraping/concurrency/redis-concurrency-manager.spec.ts
  back/src/scraping/concurrency/redis-concurrency-manager.ts
  back/src/scraping/dto/register-website.dto.ts
  back/src/scraping/dto/scraped-chapter.dto.ts
  back/src/scraping/dto/website-config.dto.ts
  back/src/scraping/entitys/website.entity.ts
  back/src/scraping/helpers/element-screenshot.spec.ts
  back/src/scraping/helpers/element-screenshot.ts
  back/src/scraping/helpers/image-downloader.ts
  back/src/scraping/helpers/index.ts
  back/src/scraping/helpers/network-interceptor.spec.ts
  back/src/scraping/helpers/network-interceptor.ts
  back/src/scraping/helpers/page-complexity-detector.ts
  back/src/scraping/helpers/page-scroller.ts
  back/src/scraping/helpers/storage-injector.ts
  back/src/scraping/scraping.service.spec.ts
  back/src/scraping/scraping.service.ts
  back/src/scraping/website.controller.ts
Due: lint-back, format-check, type-check-back

refactor: standardize code formatting and improve readability across multiple files
  back/src/books/jobs/book-update.processor.ts
  back/src/scraping/browser/browser-config.interface.ts
  back/src/scraping/dto/website-config.dto.ts
  back/src/scraping/helpers/image-downloader.ts
  back/src/scraping/helpers/index.ts
  back/src/scraping/helpers/page-complexity-detector.ts
  back/src/scraping/helpers/page-scroller.ts
  back/src/scraping/scraping.service.ts
Due: lint-back, format-check, type-check-back

feat: Add API route exclusion to ServeStaticModule
  back/src/app.module.ts
Due: format-check

feat: Add URL normalization decorator and utility functions; update relevant DTOs and services
  back/migrations/remove-www-from-urls.sql
  back/src/books/dto/cover-book.dto.ts
  back/src/books/dto/create-book.dto.ts
  back/src/books/dto/create-chapter.dto.ts
  back/src/books/dto/update-book.dto.ts
  back/src/books/dto/update-chapter.dto.ts
  back/src/books/dto/url-image.dto.ts
  back/src/books/jobs/book-update.processor.ts
  back/src/books/services/chapter-management.service.ts
  back/src/common/decorators/normalize-url.decorator.ts
  back/src/common/utils/url.utils.ts
  back/src/scraping/dto/register-website.dto.ts
Due: lint-back, format-check, type-check-back

feat: Adicionar dependência do serviço playwright-debug no docker-compose
  docker-compose.dev.yml
Due: none

feat: Add settings for automatic book updates and task scheduling.
  back/src/app-config/app-config.schema.ts
  back/src/books/jobs/book-update.processor.ts
  back/src/books/jobs/book-update.scheduler.ts
Due: lint-back, format-check, type-check-back

feat: Update environment settings to include authentication variables, password hashing, and new monitoring options.
  .env.example
  back/.env.example
Due: none

chore: update dependencies in package.json
  back/package-lock.json
  back/package.json
Due: format-check

feat: Implement download functionality for books and chapters with caching and event handling
  back/src/books/books.module.ts
  back/src/books/chapters/chapter.service.ts
  back/src/books/chapters/events/chapter-updated.event.ts
  back/src/books/download/book-download.controller.ts
  back/src/books/download/chapter-download.controller.ts
  back/src/books/download/download-cache.service.ts
  back/src/books/download/download.module.ts
  back/src/books/download/download.service.ts
  back/src/books/download/dto/download-book-body.dto.ts
  back/src/books/download/dto/download-chapter-query.dto.ts
  back/src/books/download/index.ts
  back/src/books/download/strategies/download.strategy.ts
  back/src/books/download/strategies/pdf.strategy.ts
  back/src/books/download/strategies/zip.strategy.ts
  back/src/books/services/chapter-management.service.ts
Due: lint-back, format-check, type-check-back

fix: pdf zip book
  back/src/books/download/download.module.ts
  back/src/books/download/download.service.ts
  back/src/books/download/strategies/pdfs-zip.strategy.ts
Due: lint-back, format-check, type-check-back

feat: Add functionality for downloading books and chapters, including new icons and modals.
  front/public/assets/icons/smartphone.svg
  front/src/app/components/notification/custom-components/book-download-modal/book-download-modal.component.html
  front/src/app/components/notification/custom-components/book-download-modal/book-download-modal.component.scss
  front/src/app/pages/book/book.component.html
  front/src/app/pages/book/book.component.ts
  front/src/app/service/book.service.ts
Due: lint-front, format-check, type-check-front

feat: Implement features for marking chapters as read/unread and bulk selection.
  back/src/books/chapters/chapter.controller.ts
  back/src/books/chapters/chapter.service.ts
  front/public/assets/icons/clock.svg
  front/src/app/components/info-book/info-book.component.html
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
  front/src/app/service/chapter.service.ts
Due: lint-back, lint-front, format-check, type-check-back, type-check-front

feat: Implement a chapter download modal with selection and formatting.
  front/src/app/components/notification/custom-components/book-download-modal/book-download-modal.component.html
  front/src/app/components/notification/custom-components/book-download-modal/book-download-modal.component.scss
  front/src/app/components/notification/custom-components/book-download-modal/book-download-modal.component.ts
  front/src/app/pages/book/book.component.ts
Due: lint-front, format-check, type-check-front

test: fix
  back/src/scraping/scraping.service.spec.ts
  back/src/scraping/scraping.service.ts
Due: lint-back, format-check, type-check-back

fix: Correct the query to find covers without an image hash.
  back/src/app.module.ts
  back/src/books/jobs/book-update.processor.ts
Due: lint-back, format-check, type-check-back

feat: Add scroll tracking functionality and display of the "back to top" button.
  front/src/app/pages/chapters/chapters.component.html
  front/src/app/pages/chapters/chapters.component.scss
  front/src/app/pages/chapters/chapters.component.ts
Due: lint-front, format-check, type-check-front

feat: Update backup and restore scripts with new options and log improvements.
  backup-api-data.sh
  restore-api-data.sh
Due: none

feat: Implement a hybrid caching strategy for downloads with support for buffering and streaming.
  back/.env.example
  back/src/app-config/app-config.schema.ts
  back/src/books/download/STREAMING-IMPLEMENTATION.md
  back/src/books/download/download-cache.service.ts
  back/src/books/download/download.module.ts
  back/src/books/download/download.service.ts
Due: lint-back, format-check, type-check-back

feat: Implement a download management service and optimize book downloads with streaming
  front/src/app/pages/book/book.component.ts
  front/src/app/service/book.service.ts
  front/src/app/service/download-manager.service.ts
Due: lint-front, format-check, type-check-front

feat: Add support for download caching and optimize PDF and ZIP generation with parallel processing.
  back/src/app-config/app-config.service.ts
  back/src/books/download/book-download.controller.ts
  back/src/books/download/download-cache.service.ts
  back/src/books/download/download.service.ts
  back/src/books/download/strategies/pdf.strategy.ts
  back/src/books/download/strategies/pdfs-zip.strategy.ts
  back/src/books/download/strategies/zip.strategy.ts
Due: lint-back, format-check, type-check-back

feat: Added support for saving chapter pages with notes and updated offline loading.
  front/src/app/pages/chapters/chapters.component.ts
Due: lint-front, format-check, type-check-front

feat: Adjust container height and optimize tab height updates.
  front/src/app/components/info-book/info-book.component.html
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
Due: lint-front, format-check, type-check-front

feat: update background styles and improve the responsiveness of book components.
  front/src/app/components/info-book/info-book.component.scss
  front/src/app/components/info-book/info-book.component.ts
  front/src/app/pages/book/book.component.html
  front/src/app/pages/book/book.component.scss
  front/src/app/pages/book/book.component.ts
Due: lint-front, format-check, type-check-front
